extends layout

block content
 .p-5.mb-4.bg-light.rounded-3
  .container-fluid.py-5
    h1.display-5.fw-bold #{title}
    p.col-md-8.fs-4 A place to find the art and music from Harpreet
    button.btn.btn-primary.btn-lg(type='button') Buy now